.maja-editor-card {
  display: inline-grid;
  grid-auto-flow: row;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: var(--maja-ui-box-shadow--card);
  border-radius: var(--maja-ui-border-radius--block);
  box-sizing: border-box;
  background: var(--maja-ui-background__editor);
  color: var(--maja-ui-text);
  overflow: hidden;
}
