.maja-sidebar-button {
  justify-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-right: var(--maja-margin-space);
  box-sizing: border-box;
  margin: 0 0 0 var(--maja-negative-margin-space);
  min-width: 100%;
  width: calc(100% + 2 * var(--maja-margin-space));
  position: relative;

  &:hover {
    background: var(--maja-ui-background--selectable);
  }

  &__button {
    padding: var(--maja-margin-space);
    padding-right: var(--maja-grid-half);
    transition: padding var(--maja-timing--fast);
    flex-grow: 1;
    max-width: 100%;
  }

  &:hover &__button:not(:disabled) {
    padding-left: calc(var(--maja-margin-space) + var(--maja-grid-half));
    padding-right: 0;
  }

  &--selected {
    &,
    &:hover {
      background: var(--maja-ui-background--selected);
    }
  }

  &--disabled {
    background: transparent;

    &.maja-sidebar-button--selected {
      background: var(--maja-ui-background--selected);
    }

    pointer-events: none;
  }

  &__controls {
    visibility: hidden;
  }

  &:hover &__controls {
    visibility: visible;
  }
}
