.dropdown {
  position: relative;
  z-index: 0;

  &__button {
    justify-self: center;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
  }

  &__button-text {
    position: relative;
  }

  &__button-dots {
    position: absolute;
    right: 0;
    top: calc(100% + var(--maja-grid-quarter));
    font-size: var(--maja-font-size-small);
    line-height: var(--maja-font-size-x-small);
  }

  &--open {
    z-index: 1;
  }

  &__list {
    position: absolute;
    top: calc(100% + var(--maja-margin-space));
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: var(--maja-margin-space);
  }
}
