.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  border: 1px solid var(--maya-ui-border);
  box-shadow: 0 2px 4px var(--maya-ui-shadow-colour);
  border-radius: var(--maya-ui-border-radius--block);
  box-sizing: border-box;
  padding: var(--margin);
  background: var(--maya-ui-background);

  &--padding-small {
    padding: var(--margin-space) var(--margin-space);
  }

  &--padding-normal {
    padding: var(--margin) var(--margin--large);
  }
}
