.maja-editor {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template: 'sidebar content' 100% / auto 1fr;
  grid-gap: 0;
  background: var(--maja-ui-background);
  flex-grow: 1;

  &__sidebar,
  &__content {
    display: grid;
    justify-content: stretch;
    justify-items: stretch;
    grid-template: 100% / 100%;
  }

  &__sidebar {
    grid-area: sidebar;
    z-index: 1;
  }

  &__content {
    grid-area: content;
    z-index: 0;
  }
}
