.maja-select {
  background: var(--maja-ui-background);
  border: 1px solid var(--maja-ui-border--unselected);
  cursor: pointer;
  padding: 4px 8px;
  font-size: 13px;

  &:hover {
    color: var(--maja-ui-text--selectable);
  }

  &--selected {
    color: var(--maja-ui-text--selected);
  }

  &--disabled {
    color: var(--maja-ui-text--disabled);
  }
}
