.maja-select {
  background: var(--maja-ui-background);
  color: var(--maja-ui-text);
  border: 1px solid var(--maja-ui-border);
  cursor: pointer;
  font-family: var(--maja-font-family-body);
  font-weight: var(--maja-font-weight-normal);
  font-size: var(--maja-font-size-normal);
  line-height: var(--maja-line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--maja-grid-half) var(--maja-grid-one);

  &--placeholder {
    color: var(--maja-ui-text--unselected);
  }

  &:hover {
    border-color: var(--maja-ui-border--selectable);
    color: var(--maja-ui-text--selectable);
  }

  &:focus {
    border-color: var(--maja-ui-border--selected);
    color: var(--maja-ui-text--selected);
  }

  &:disabled {
    color: var(--maja-ui-text--disabled);
  }
}
