.input {
  background: black;
  color: var(--maja-ui-text);
  border: 1px solid var(--maja-ui-border);
  border-radius: 0;
  border-left: none;
  border-right: none;
  padding: 4px 8px;

  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--disabled {
    border-color: var(--maja-ui-text--disabled);
  }

  &:hover {
    border-color: var(--maja-ui-border--selectable);
    color: var(--maja-ui-text--selectable);
  }

  &:focus {
    border-color: var(--maja-ui-border--selected);
    color: var(--maja-ui-text--selected);
  }

  &:invalid {
    border-color: var(--maja-ui-border--error);
  }
}
