.maja-sidebar-heading {
  font-size: var(--maja-font-size-small);
  line-height: var(--maja-line-height-small);
  padding: var(--maja-margin-space);
  box-sizing: border-box;
  text-transform: uppercase;
  box-shadow: 0 1px 8px var(--maja-ui-shadow-colour--light);
  border-bottom: 1px solid var(--maja-ui-shadow-colour);
  margin-top: var(--maja-negative-margin);
  padding-right: var(--maja-margin--large);
  flex-shrink: 0;
  overflow: hidden;
}
