.maja-sidebar-heading {
  font-size: var(--maja-font-size-small);
  line-height: var(--maja-line-height-small);
  padding: var(--maja-margin) var(--maja-margin-space) var(--maja-margin-space);
  box-sizing: border-box;
  text-transform: uppercase;
  box-shadow: none;
  border-bottom: 1px solid transparent;
  margin-top: var(--maja-negative-margin);
  padding-right: var(--maja-margin--large);
  flex-shrink: 0;
  overflow: hidden;
  transition: border-color var(--maja-timing), box-shadow var(--maja-timing);

  &--bottom-border {
    box-shadow: 0 1px 8px var(--maja-ui-shadow-colour--light);
    border-bottom-color: var(--maja-ui-shadow-colour);
  }
}
