.maja-editor {
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  grid-template:
      'sidebar topbar' min-content
      'sidebar content' 1fr
      / auto 1fr;
  grid-gap: 0;
  flex-grow: 1;

  &__sidebar,
  &__topbar,
  &__content {
    display: grid;
    justify-content: stretch;
    justify-items: stretch;
    grid-template: 100% / 100%;
    position: relative;
    overflow: hidden;
  }

  &__sidebar {
    max-height: 100%;
    grid-area: sidebar;
    z-index: 2;
  }

  &__topbar {
    max-width: 100%;
    grid-area: topbar;
    z-index: 1;
  }

  &__content {
    grid-area: content;
    background: var(--maja-ui-background__editor--inverse);
    z-index: 0;

    display: grid;
    grid-template: 'children' auto / auto;
    overflow: hidden;
  }

  &__content-child {
    grid-column-start: 1;
    grid-row-start: 1;
    overflow: hidden;
  }
}
