.maja-label {
  color: var(--maja-ui-text);
  font-family: var(--maja-font-family-body);
  font-weight: var(--maja-font-weight-normal);
  font-size: var(--maja-font-size-normal);
  line-height: var(--maja-line-height-normal);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
