.maja-button {
  padding: var(--grid-half) var(--grid-one);
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: var(--grid-one);
  justify-content: center;
  align-items: center;
  border-radius: var(--maja-ui-border-radius--inline);

  &:hover {
    background: var(--maja-ui-background--selectable);
  }

  &--selected,
  &--selected:hover {
    background: var(--maja-ui-background--selected);
  }

  &--disabled,
  &--disabled:hover {
    background: transparent;
  }
}
