.maja-sidebar {
  background: var(--maja-ui-background--primary);
  box-shadow: 1px 0 8px var(--maja-ui-shadow-colour--light);
  border-right: 1px solid var(--maja-ui-shadow-colour);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  &__content {
    padding: 0 var(--maja-margin);
    display: grid;
    grid-auto-rows: min-content;
    justify-content: stretch;
    align-content: flex-start;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: var(--maja-margin);
  }

  &--top-padding {
    padding-top: var(--maja-margin);
  }
}
