:root {
  --maja-color-black: black;

  --maja-color-white: white;
  --maja-color-white--30p: rgba(255, 255, 255, 0.3);
  --maja-color-white--20p: rgba(255, 255, 255, 0.2);
  --maja-color-white--10p: rgba(255, 255, 255, 0.1);

  --maja-color-light-cyan: rgb(160, 255, 255);

  --maja-color-cyan: rgb(100, 255, 255);
  --maja-color-cyan--40p: rgba(100, 255, 255, 0.4);
  --maja-color-cyan--30p: rgba(100, 255, 255, 0.3);
  --maja-color-cyan--20p: rgba(100, 255, 255, 0.2);
  --maja-color-cyan--10p: rgba(100, 255, 255, 0.1);

  --maja-color-dark-cyan: darkCyan;

  --maja-color-light-xxx-grey: #BFCADB;
  --maja-color-light-xx-grey: #B0BAC7;
  --maja-color-light-x-grey: #9EA8B3;

  --maja-color-light-grey: #6D737E;
  --maja-color-light-grey--40p: rgba(128, 128, 128, 0.4);
  --maja-color-light-grey--30p: rgba(128, 128, 128, 0.3);
  --maja-color-light-grey--20p: rgba(128, 128, 128, 0.2);
  --maja-color-light-grey--10p: rgba(128, 128, 128, 0.1);

  --maja-color-grey: #565B63;

  --maja-color-dark-grey: #3F4247;
  --maja-color-dark-grey--40p: rgba(51, 51, 51, 0.4);
  --maja-color-dark-grey--30p: rgba(51, 51, 51, 0.3);
  --maja-color-dark-grey--20p: rgba(51, 51, 51, 0.2);
  --maja-color-dark-grey--10p: rgba(51, 51, 51, 0.1);

  --maja-color-dark-x-grey: #323438;
  --maja-color-dark-xx-grey: #27292c;
  --maja-color-dark-xxx-grey: #1C1E20;

  --maja-color-green: rgb(0, 255, 0);

  --maja-color-red: rgb(255, 0, 0);
  --maja-color-red--30p: rgba(255, 0, 0, 0.3);
  --maja-color-red--20p: rgba(255, 0, 0, 0.2);
  --maja-color-red--10p: rgba(255, 0, 0, 0.1);

  --maja-color-pink: fuchsia;

  --maja-color-light-pink: #ee82ee;
  --maja-color-light-pink--raw-rgb: 238, 130, 238;
  --maja-color-light-pink--30p: rgba(238, 130, 238, 0.3);
  --maja-color-light-pink--20p: rgba(238, 130, 238, 0.2);
  --maja-color-light-pink--10p: rgba(238, 130, 238, 0.1);
}
