:root {
  --maja-grid-quarter: 2px;
  --maja-grid-half: 4px;
  --maja-grid-one: 8px;
  --maja-grid-two: 16px;
  --maja-grid-three: 24px;
  --maja-grid-four: 32px;
  --maja-grid-five: 40px;

  --maja-negative-grid-quarter: -2px;
  --maja-negative-grid-half: -4px;
  --maja-negative-grid-one: -8px;
  --maja-negative-grid-two: -16px;
  --maja-negative-grid-three: -24px;
  --maja-negative-grid-four: -32px;
  --maja-negative-grid-five: -40px;
}
