:root {
  --maja-margin-space: var(--maja-grid-one);
  --maja-margin: var(--maja-grid-two);
  --maja-margin--large: var(--maja-grid-four);

  --maja-negative-margin-space: var(--maja-grid-negative-one);
  --maja-negative-margin: var(--maja-grid-negative-two);
  --maja-negative-margin--large: var(--maja-grid-negative-four);
}
