:root {
  --maja-font-family-body: -apple-system-body, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --maja-font-family-heading: -apple-system-body, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --maja-font-family-heading_: -apple-system-headline, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --maja-font-family-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  --maja-font-weight-normal: 400;
  --maja-font-weight-bold: 600;

  --maja-font-size-xx-large: 54px;
  --maja-font-size-x-large: 24px;
  --maja-font-size-large: 20px;
  --maja-font-size-normal: 16px;
  --maja-font-size-small: 13px;
  --maja-font-size-x-small: 10px;

  --maja-line-height-xx-large: 64px;
  --maja-line-height-x-large: 34px;
  --maja-line-height-large: 28px;
  --maja-line-height-normal: 22px;
  --maja-line-height-small: 18px;
  --maja-line-height-x-small: 14px;
}
