.maja-button-base {
  background: transparent;
  border: 0 solid var(--maja-ui-border--unselected);
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--maja-font-size-normal);
  color: var(--maja-ui-text--unselected);
  flex-shrink: 0;
  font-family: var(--maja-font-family-normal);
  font-weight: var(--maja-font-weight-normal);
  font-size: var(--maja-font-size-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    border-color: var(--maja-ui-border--selectable);
    color: var(--maja-ui-text--selectable);
  }

  &--selected,
  &--selected:hover {
    border-color: var(--maja-ui-border--selected);
    color: var(--maja-ui-text--selected);
  }

  &--disabled,
  &--disabled:hover {
    border-color: var(--maja-ui-border--disabled);
    color: var(--maja-ui-text--disabled);
  }

  &:active {
    border-color: var(--maja-ui-border--active);
    color: var(--maja-ui-text--active);
  }
}
